<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.bkst.rocdev">
  <!--안드로이드 스튜디오 3.2.1 추천.-->
  <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="28" />

  <uses-permission android:name="android.permission.INTERNET" />
      
  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    
    <!--네이티브 플러그인의 패키지 명은 프로젝트의 패키지명과 달라도 상관이 없다-->
    <!--<activity android:name="com.bkst.mainpluginandroid.MainActivity">-->
    <activity android:name="com.bkst.pluginbk.Bridge">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    
  </application>

</manifest>